@font-face
{
	font-family: "Anonymous Pro";
	src: url("./AnonymousPro.ttf") format("ttf");
}

body
{
	font-family: "Anonymous Pro", monospace, "Monaco", "Courrier New";
	color: #d0d0d0;
	background-color: #121212;
}

*
{
	font-size: 14px;
	line-height: 1;
	margin: 1px;
	text-align: left;
}

.necessary
{
	font-weight: bold;
	color: #af5fff;
	font-weight: bold;
}

var
{
	text-decoration: underline;
	text-transform: uppercase;
	font-style: normal;
}

.extern
{
	color: #87ff00;
}

h1
{
	color: #d7005f;
	font-weight: bold;
	margin-top: 1em;
	text-transform: uppercase;
}

h2, h3, h4, h5, h6
{
	margin-top: 1em;
	font-weight: normal;
	text-transform: uppercase;
	margin-left: 3em;
	color: #87ff00;
}

p, dl, ol, ul
{
	margin-left: 5em;
}

ul
{
	list-style: none;
	padding-left: 0;
}

ul li:before
{
	content: ".";
	margin-right: 4em
}


p
{
	margin-bottom: 1em;
}

nav
{
	color: #d75f00;
	margin-bottom: 4em;
}

a[href]
{
	color: #007EDF;
	text-decoration: none;
	transition: text-shadow 0.5s ease 0s;
}

a[href]:hover
{
	color: #0069BA;
	text-shadow: 0px 0px 2px #0090FF;
}

dd
{
	margin-left: 4em;
}

nav > div
{
	position: absolute;
	display: inline;
}

nav > div:first-of-type
{
	top: 0px;
	left: 0px;
	text-align: left;
}

nav > div:last-of-type
{
	top: 0px;
	right: 0px;
	text-align: right;
}

nav > div:nth-of-type(2)
{
	top: 0px;
	right: 0px;
	left: 0px;
	text-align: center;
}

footer
{
	margin-top: 3em;
	text-align: center;
}

footer > div
{
	display: inline-block;
	width: 32%;
}

footer > div:first-of-type
{
	text-align: left;
}

footer > div:last-of-type
{
	text-align: right;
}

footer > div:nth-of-type(2)
{
	text-align: center;
}
